.gallery {

    &__inner {
        @include row-flex();
        position: relative;
    }

    &__slider {

        @include md-block {
            @include col();
            @include size(12);
            @include size-md(12);
            @include size-xl(10);
            @include shift-xl(1);
        }
        
    }

    &__controls {
        @include col();
        @include size(12);
        @include size-md(12);
        @include size-xl(10);
        @include shift-xl(1);
        display: none;

        @include md-block {
            display: block;
        }
    }

    &__slide {

        & img {
            display: block;
        }
    }

    &__info {
        
        margin-top: 24px;

        @include md-block {
            padding-left: #{$atom * 3};
            max-width: 50%;
        }
        @include lg-block {
            padding-left: #{$atom * 3};
        }
        @include xl-block {
            padding-left: #{$atom * 2};
        }
    }
}