@import "blocks/main";
@import "blocks/about";
@import "blocks/comfort";
@import "blocks/gallery";
@import "blocks/advantages";
@import "blocks/map";
@import "blocks/form";
@import "blocks/photogal";
