$screen-xs: 320px;
$screen-s: 720px;
$screen-m: 1024px;
$screen-l: 1280px;
$screen-xl: 1440px;
$screen-2xl: 1600px;

$color-typo-default: #2A2A2A;
$color-black: #000;
$color-white: #fff;
$color-red: #FF2D23;
$color-red-hover: #C7231B;
$color-dark-blue: #282650;
$color-light-blue: #363469;
$color-input-border: #5A5898;
$color-input-border-hover: #7270A8;
$color-input-border-focus: #6661E2;
$color-ghost: #F6F9FB;
$color-ghost-dark: #3F3D78;
$color-button-link-hover: #F1F5F8;
$color-underline: #E6EAED;

$box-shadow: 0 0 200px #F2F7FB;
