
.custom-select-container {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.custom-select-container * {
  box-sizing: border-box;
  outline: none;
}
.custom-select-container.is-disabled {
  opacity: .333;
  cursor: not-allowed;
}
.custom-select-opener {
  display: block;

  width: 100%;

  &>span {
    width: 100%;
    padding: 0 24px;
    height: 50px;
    background-color: #2C2E3E;
    border: 1px solid rgba(143, 149, 172, 0.2);
    // box-shadow: inset 0 0 0 1px $color-input-border;
    border-radius: 3px;
    font-family: 'Formular', sans-serif;
    font-size: 14px;
    line-height: 50px;
    font-weight: 300;
    color: $color-white;
    text-align: left;
    white-space: nowrap;
    display: block;
    position: relative;
    z-index: 11;
    transition: all .4s ease;

    &:hover {
      // border-color: $color-input-border-hover;
    }

    &:after {
      content: '';
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xIDFsMyAzIDMtMyIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=);
      width: 8px;
      height: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform .2s ease;
      right: 25px;
    }
  }
}
.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: max-height .2s ease, overflow-y 0.1s 0.2s;
  overflow: hidden;
  background-color: #2C2E3E;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 1px solid rgba(143, 149, 172, 0.2);
  border-top: transparent;
  border-radius: 3px;
  padding-top: 65px;
  padding-bottom: 18px;
  display: none;
}

.custom-select-container.is-open {
  z-index: 20;
  .custom-select-opener > span {
    border-color: rgba(143, 149, 172, 0.6);

    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.custom-select-container.is-open .custom-select-panel {
  max-height: 14.7em;
  overflow-y: auto;
  display: block;
}
.custom-select-option {
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.custom-select-option.has-focus {
  // background-color: rgba(102, 97, 226, .2);
}
.custom-select-option.is-selected::before {
}
.custom-select-optgroup > .custom-select-option {
}
.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
