.icon {
    mask-size: contain;
    &-wifi {
        width: 22px;
        height: 17px;
    }
    &-tea {
        width: 24px;
        height: 18px;
    }
    &-dc {
        width: 34px;
        height: 16px;
    }
    &-musics {
        width: 13px;
        height: 19px;
    }
    &-music {
        width: 35px;
        height: 13px;
    }
    &-ig {
        width: 22px;
        height: 22px;

    }
    &-tg {

        width: 23px;
        height: 20px;

    }
    &-fb {
        width: 10px;
        height: 22px;
    }
    &-vk {
        width: 23px;
        height: 14px;
    }
}
