.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0,0,0.12,1);
    background-color: $color-light-blue;
    z-index: 100;
    color: $color-white;
    overflow-y: auto;

    &.is-opened {
      opacity: 1;
      visibility: visible;
    }
    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &__close {
      width: 65px;
      height: 65px;
      cursor: pointer;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-32px);
      @include lg-block {
        top: 90px;
      }
      -webkit-tap-highlight-color: transparent;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      width: 100%;
      padding: 180px 0 90px;

      @include md-block {
        margin: 0 auto;
        // width: 460px;
      }

      @include lg-block {
        // width: 550px;
      }
    }

    &__inner {
      pointer-events: all;
      position: relative;
      z-index: 1;
      text-align: center;
      width: 100%;
    }

    &__title {
      margin-bottom: 52px;
      @include lg-block {
        margin-bottom: 45px;
      }
    }

    &_centered {

      & .modal__content {
        max-width: 90%;
        margin: 0 auto;
        @include md-block {
          max-width: 50%;
        }

      }
    }
  }
